
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,300&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url('./cake.jpg');
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center center;
    font-family: 'Poppin', sans-serif;
    margin:0;
}

#click {
    justify-content: center;
    position: fixed;
    width: 200px;
    height: 200px;
    left: auto;
    top: 10px;
}


h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: -18rem;
}

.countdown-container{
    display: flex;
}



.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
text-align: center;
}

.countdown-el span {
    font-size: 2rem;
}